@import "compass/utilities/general/clearfix"
@import "compass/reset/utilities"

.ui-dialog, .ui-autocomplete
  +nested-reset
  font-size: 10pt
  overflow: visible

body.chutney
  position: relative
  overflow: scroll
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  overflow-x: hidden

.ui-widget-overlay
  +clearfix

#chutney, #chutney td
  font-family: "Helvetica Neue", Arial, helvetica, sans-serif 
  font-size: 13px
  line-height: 1.5em
  border: none


/* NOTE: We need to protect ourselves from name collisions in two ways.  First,
 * we want to avoid polluting the page in which we're running with definitions
 * that mess it up when chutney is closed -- thus, we run everything under the
 * #chutney namespace (with the exception of .ui-dialog which runs over
 * div#chutney, and body.chutney which we only create in frameset pages).
 * Second, we want to avoid our own definitions getting screwed up by generic
 * names that are defined by the page we're on (e.g. '.transactions').  Thus,
 * we prefix every class name with 'chutney-'.
 */
  
#chutney
  // Basics
  overflow: visible
  h1, h2, h3, h4, h5, h6
    margin-left: -0.5em
    font-size: 1.8em
    margin-top: 0.5em
    margin-bottom: 0.5em
    font-weight: bold
  h2 
    font-size: 1.4em
  h3
    font-size: 1.2em
  h4
    font-size: 1em
  h5
    font-size: 0.8em
  h6
    font-size: 0.6em
  p
    margin-top: 1.5em
    margin-bottom: 1.5em
  small
    font-size: 0.8em
  strong
    font-weight: bold
  li
    list-style-type: none

  // About
  .chutney-about 
    font-style: italic
    color: #999

  // View mode

  .chutney-viewmode
    +clearfix
    background-color: #eee
    padding: 0.5em
    margin-bottom: 1em
    h2
      float: left
      margin: 0
      padding: 0
    ul
      margin: 0
      padding: 0
      font-weight: normal
      float: left
      li
        margin-left: 1em
        float: left

  // Transactions

  table.chutney-transactions
    border-collapse: collapse
    th
      text-transform: uppercase
      text-align: left
      font-weight: normal
      font-size: larger
      cursor: pointer
    td
      vertical-align: top
      width: 1%
      padding: 0.5em
    td + td
      width: 45%
      border-bottom: 1px dotted #ddd
    td + td + td
      width: 40%
    td + td + td + td
      width: 14%
    tr.chutney-tx
      a.chutney-editlink, a.chutney-editlink:visited
        margin-left: 1em
        color: #999
    tr.chutney-org, tr.chutney-org a, tr.chutney-org a:visited
      color: #333
    tr.chutney-unmatched, tr.chutney-unmatched a, tr.chutney-unmatched a:visited
      color: #999
    tr.chutney-even
      background-color: #eee

    td.chutney-name
      cursor: pointer
    td.chutney-name a
      display: block
      float: left
      text-decoration: none
    td.chutney-name a:hover
      text-decoration: underline
    td.chutney-name span
      float: left
      

  .chutney-tx-tooltip
    background: white
    border: 1px solid #DDD
    position: absolute
    z-index: 5
    padding: 1em
    padding-top: 1.5em
    td
      font-weight: normal
    td + td
      padding-left: 0.5em

  .chutney-editor
    color: #333
    background-color: white
    border: 1px dotted gray
    position: absolute
    padding: 1.3em
    padding-top: 1.5em
    text-align: center
    width: 50%
    input.chutney-bad-name
      background-color: pink
      z-index: 1000
    table
      font-size: smaller
      width: 100%
      td
        border: 1px dotted #EEE
        width: 15%
      td + td
        width: 70%
      td + td + td
        width: 15%

  div.chutney-party-breakdown
    width: 70px
    height: 60px
    float: left
