/* line 4, ././style.sass */
.ui-dialog, .ui-autocomplete {
  font-size: 10pt;
  overflow: visible;
}
/* line 38, /Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.ui-dialog div, .ui-dialog span, .ui-dialog object, .ui-dialog iframe, .ui-dialog h1, .ui-dialog h2, .ui-dialog h3, .ui-dialog h4, .ui-dialog h5, .ui-dialog h6, .ui-dialog p,
.ui-dialog pre, .ui-dialog a, .ui-dialog abbr, .ui-dialog acronym, .ui-dialog address, .ui-dialog code, .ui-dialog del, .ui-dialog dfn, .ui-dialog em, .ui-dialog img,
.ui-dialog dl, .ui-dialog dt, .ui-dialog dd, .ui-dialog ol, .ui-dialog ul, .ui-dialog li, .ui-dialog fieldset, .ui-dialog form, .ui-dialog label, .ui-dialog legend, .ui-dialog caption, .ui-dialog tbody, .ui-dialog tfoot, .ui-dialog thead, .ui-dialog tr, .ui-autocomplete div, .ui-autocomplete span, .ui-autocomplete object, .ui-autocomplete iframe, .ui-autocomplete h1, .ui-autocomplete h2, .ui-autocomplete h3, .ui-autocomplete h4, .ui-autocomplete h5, .ui-autocomplete h6, .ui-autocomplete p, .ui-autocomplete pre, .ui-autocomplete a, .ui-autocomplete abbr, .ui-autocomplete acronym, .ui-autocomplete address, .ui-autocomplete code, .ui-autocomplete del, .ui-autocomplete dfn, .ui-autocomplete em, .ui-autocomplete img, .ui-autocomplete dl, .ui-autocomplete dt, .ui-autocomplete dd, .ui-autocomplete ol, .ui-autocomplete ul, .ui-autocomplete li, .ui-autocomplete fieldset, .ui-autocomplete form, .ui-autocomplete label, .ui-autocomplete legend, .ui-autocomplete caption, .ui-autocomplete tbody, .ui-autocomplete tfoot, .ui-autocomplete thead, .ui-autocomplete tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* line 41, /Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.ui-dialog table, .ui-autocomplete table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
/* line 43, /Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.ui-dialog caption, .ui-dialog th, .ui-dialog td, .ui-autocomplete caption, .ui-autocomplete th, .ui-autocomplete td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 45, /Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.ui-dialog q, .ui-dialog blockquote, .ui-autocomplete q, .ui-autocomplete blockquote {
  quotes: "" "";
}
/* line 96, /Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.ui-dialog q:before, .ui-dialog q:after, .ui-dialog blockquote:before, .ui-dialog blockquote:after, .ui-autocomplete q:before, .ui-autocomplete q:after, .ui-autocomplete blockquote:before, .ui-autocomplete blockquote:after {
  content: "";
}
/* line 47, /Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.ui-dialog a img, .ui-autocomplete a img {
  border: none;
}

/* line 9, ././style.sass */
body.chutney {
  position: relative;
  overflow: scroll;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* line 18, ././style.sass */
.ui-widget-overlay {
  overflow: hidden;
  *zoom: 1;
}

/* line 21, ././style.sass */
#chutney, #chutney td {
  text-align: left;
  font-family: "Helvetica Neue", Arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  border: none;
}

/* NOTE: We need to protect ourselves from name collisions in two ways.  First,
 * we want to avoid polluting the page in which we're running with definitions
 * that mess it up when chutney is closed -- thus, we run everything under the
 * #chutney namespace (with the exception of .ui-dialog which runs over
 * div#chutney, and body.chutney which we only create in frameset pages).
 * Second, we want to avoid our own definitions getting screwed up by generic
 * names that are defined by the page we're on (e.g. '.transactions').  Thus,
 * we prefix every class name with 'chutney-'.
 */
/* line 39, ././style.sass */
#chutney {
  overflow: visible;
}
/* line 42, ././style.sass */
#chutney h1, #chutney h2, #chutney h3, #chutney h4, #chutney h5, #chutney h6 {
  margin-left: -0.5em;
  font-size: 1.8em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
/* line 48, ././style.sass */
#chutney h2 {
  font-size: 1.4em;
}
/* line 50, ././style.sass */
#chutney h3 {
  font-size: 1.2em;
}
/* line 52, ././style.sass */
#chutney h4 {
  font-size: 1em;
}
/* line 54, ././style.sass */
#chutney h5 {
  font-size: 0.8em;
}
/* line 56, ././style.sass */
#chutney h6 {
  font-size: 0.6em;
}
/* line 58, ././style.sass */
#chutney p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 61, ././style.sass */
#chutney small {
  font-size: 0.8em;
}
/* line 63, ././style.sass */
#chutney strong {
  font-weight: bold;
}
/* line 65, ././style.sass */
#chutney li {
  list-style-type: none;
}
/* line 67, ././style.sass */
#chutney input {
  margin: auto;
}
/* line 71, ././style.sass */
#chutney .chutney-about {
  font-style: italic;
  color: #999999;
}
/* line 77, ././style.sass */
#chutney .chutney-viewmode {
  overflow: hidden;
  *zoom: 1;
  background-color: #eeeeee;
  padding: 0.5em;
  margin-bottom: 1em;
}
/* line 82, ././style.sass */
#chutney .chutney-viewmode h2 {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 86, ././style.sass */
#chutney .chutney-viewmode ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  float: left;
}
/* line 91, ././style.sass */
#chutney .chutney-viewmode ul li {
  margin-left: 1em;
  float: left;
}
/* line 97, ././style.sass */
#chutney table.chutney-transactions {
  border-collapse: collapse;
}
/* line 99, ././style.sass */
#chutney table.chutney-transactions th {
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  font-size: larger;
  cursor: pointer;
}
/* line 105, ././style.sass */
#chutney table.chutney-transactions td {
  vertical-align: top;
  width: 1%;
  padding: 0.5em;
}
/* line 109, ././style.sass */
#chutney table.chutney-transactions td + td {
  width: 45%;
  border-bottom: 1px dotted #dddddd;
}
/* line 112, ././style.sass */
#chutney table.chutney-transactions td + td + td {
  width: 40%;
}
/* line 114, ././style.sass */
#chutney table.chutney-transactions td + td + td + td {
  width: 14%;
}
/* line 117, ././style.sass */
#chutney table.chutney-transactions tr.chutney-tx a.chutney-editlink, #chutney table.chutney-transactions tr.chutney-tx a.chutney-editlink:visited {
  margin-left: 1em;
  color: #999999;
}
/* line 120, ././style.sass */
#chutney table.chutney-transactions tr.chutney-org, #chutney table.chutney-transactions tr.chutney-org a, #chutney table.chutney-transactions tr.chutney-org a:visited {
  color: #333333;
}
/* line 122, ././style.sass */
#chutney table.chutney-transactions tr.chutney-unmatched, #chutney table.chutney-transactions tr.chutney-unmatched a, #chutney table.chutney-transactions tr.chutney-unmatched a:visited {
  color: #999999;
}
/* line 124, ././style.sass */
#chutney table.chutney-transactions tr.chutney-even {
  background-color: #eeeeee;
}
/* line 127, ././style.sass */
#chutney table.chutney-transactions td.chutney-name {
  cursor: pointer;
}
/* line 129, ././style.sass */
#chutney table.chutney-transactions td.chutney-name a {
  display: block;
  float: left;
  text-decoration: none;
}
/* line 133, ././style.sass */
#chutney table.chutney-transactions td.chutney-name a:hover {
  text-decoration: underline;
}
/* line 135, ././style.sass */
#chutney table.chutney-transactions td.chutney-name span {
  float: left;
}
/* line 139, ././style.sass */
#chutney .chutney-tx-tooltip {
  background: white;
  border: 1px solid #dddddd;
  position: absolute;
  z-index: 5;
  padding: 1em;
  padding-top: 1.5em;
}
/* line 146, ././style.sass */
#chutney .chutney-tx-tooltip td {
  font-weight: normal;
}
/* line 148, ././style.sass */
#chutney .chutney-tx-tooltip td + td {
  padding-left: 0.5em;
}
/* line 151, ././style.sass */
#chutney .chutney-editor {
  color: #333333;
  background-color: white;
  border: 1px dotted gray;
  position: absolute;
  padding: 1.3em;
  padding-top: 1.5em;
  text-align: center;
  width: 50%;
}
/* line 160, ././style.sass */
#chutney .chutney-editor input.chutney-bad-name {
  background-color: pink;
  z-index: 1000;
}
/* line 163, ././style.sass */
#chutney .chutney-editor table {
  font-size: smaller;
  width: 100%;
}
/* line 166, ././style.sass */
#chutney .chutney-editor table td {
  border: 1px dotted #eeeeee;
  width: 15%;
}
/* line 169, ././style.sass */
#chutney .chutney-editor table td + td {
  width: 70%;
}
/* line 171, ././style.sass */
#chutney .chutney-editor table td + td + td {
  width: 15%;
}
/* line 174, ././style.sass */
#chutney div.chutney-party-breakdown {
  width: 70px;
  height: 60px;
  float: left;
}
