/* line 4, ././style.sass */
#chutney {
  font-family: "Helvetica Neue", Arial, helvetica, sans-serif;
  font-size: 10pt;
  line-height: 1.5em;
}
/* line 10, ././style.sass */
#chutney h1, #chutney h2, #chutney h3, #chutney h4, #chutney h5, #chutney h6 {
  margin-left: -0.5em;
  font-size: 1.8em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
/* line 16, ././style.sass */
#chutney h2 {
  font-size: 1.4em;
}
/* line 18, ././style.sass */
#chutney h3 {
  font-size: 1.2em;
}
/* line 20, ././style.sass */
#chutney h4 {
  font-size: 1em;
}
/* line 22, ././style.sass */
#chutney h5 {
  font-size: 0.8em;
}
/* line 24, ././style.sass */
#chutney h6 {
  font-size: 0.6em;
}
/* line 26, ././style.sass */
#chutney p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 29, ././style.sass */
#chutney .mono {
  font-family: monospace;
}
/* line 31, ././style.sass */
#chutney small {
  font-size: 0.8em;
}
/* line 33, ././style.sass */
#chutney strong {
  font-weight: bold;
}
/* line 37, ././style.sass */
#chutney .about {
  font-style: italic;
  color: #999999;
}
/* line 43, ././style.sass */
#chutney .viewmode {
  overflow: hidden;
  display: inline-block;
  background-color: #eeeeee;
  padding: 0.5em;
  margin-bottom: 1em;
}
/* line 8, /var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/./_hacks.scss */
#chutney .viewmode {
  display: block;
}
/* line 48, ././style.sass */
#chutney .viewmode h2 {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 52, ././style.sass */
#chutney .viewmode ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  float: left;
}
/* line 57, ././style.sass */
#chutney .viewmode ul li {
  margin-left: 1em;
  float: left;
  list-style-type: none;
}
/* line 64, ././style.sass */
#chutney table.transactions {
  border-collapse: collapse;
}
/* line 66, ././style.sass */
#chutney table.transactions th {
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  font-size: larger;
  cursor: pointer;
}
/* line 72, ././style.sass */
#chutney table.transactions td {
  vertical-align: top;
  width: 1%;
  padding: 0.5em;
}
/* line 76, ././style.sass */
#chutney table.transactions td + td {
  width: 45%;
  border-bottom: 1px dotted #dddddd;
}
/* line 79, ././style.sass */
#chutney table.transactions td + td + td {
  width: 40%;
}
/* line 81, ././style.sass */
#chutney table.transactions td + td + td + td {
  width: 14%;
}
/* line 84, ././style.sass */
#chutney table.transactions tr.tx a.editlink, #chutney table.transactions tr.tx a.editlink:visited {
  margin-left: 1em;
  color: #999999;
}
/* line 87, ././style.sass */
#chutney table.transactions tr.org, #chutney table.transactions tr.org a, #chutney table.transactions tr.org a:visited {
  color: #333333;
}
/* line 89, ././style.sass */
#chutney table.transactions tr.unmatched {
  color: #999999;
}
/* line 91, ././style.sass */
#chutney table.transactions tr.even {
  background-color: #eeeeee;
}
/* line 94, ././style.sass */
#chutney .tx-tooltip {
  background-color: black;
  color: white;
  opacity: 0.9;
  position: absolute;
  z-index: 5;
  padding: 0.2em;
}
/* line 102, ././style.sass */
#chutney .tx-tooltip td + td {
  padding-left: 0.5em;
}
/* line 104, ././style.sass */
#chutney .editor {
  background-color: white;
  position: absolute;
  padding: 1em;
}
/* line 108, ././style.sass */
#chutney .editor input.bad-name {
  background-color: pink;
}
/* line 111, ././style.sass */
#chutney div.party-breakdown {
  width: 70px;
  height: 60px;
  float: left;
  cursor: pointer;
}
