{% extends "base.html" %}
{% block title %}Chutney.  Fresh &amp; Hot.{% endblock %}
{% block content %}
<a href='javascript:void(window.loadChutney = function() {
if (!window.chutney) {
    if (!window.chutneyInserted) {
        var s = document.createElement("script"); 
        s.src = "{{ SERVER_URL }}{{ MEDIA_URL }}js/chutney.js"; 
        document.getElementsByTagName("head")[0].appendChild(s); 
        window.chutneyInserted = true;
    }
    setTimeout("loadChutney()", 50);   
} else {
    chutney.start();
}
}); loadChutney();'>Chutney</a>
{% endblock %}
