{% extends "base.html" %}
{% block title %}Chutney.  Fresh &amp; Hot.{% endblock %}
{% block content %}

<h1>Chutney</h1>
<p>Chutney is a bookmarklet that you can use to find out how companies you are
doing business are wielding political influence through lobbying and campaign
contributions.
</p>
<p>The bookmarklet: &rarr; 
<a href='javascript:void(window.loadChutney = function() {
if (!window.chutney) {
    if (!window.chutneyInserted) {
        var s = document.createElement("script"); 
        s.src = "http{% if request.is_secure or FORCE_HTTPS %}s{% endif %}://{{ request.META.HTTP_HOST }}{% url chutney.js %}"; 
        document.getElementsByTagName("head")[0].appendChild(s); 
        window.chutneyInserted = true;
    }
    setTimeout("loadChutney()", 50);   
} else {
    chutney.start();
}
}); loadChutney();'>Chutney</a> &larr; (drag this to your bookmarks bar, or right-click and "bookmark this")
</p>
<p>Next, just go to any web page that has bank transactions (your banking site,
credit card site, etc.) and click on the bookmarklet.  Chutney will show you
the influence data for all the companies it can identify.</p>
<h2>Privacy</h2>
<p>
To ensure that we respect your privacy, we are very careful not to store any
information about your bank transactions that could possibly be personally
identifiable.  In order to function, Chutney needs to transmit names that it
has pulled out of your bank transactions to our server to match them against
corporations, but nothing else (no dates, addresses, amounts, or anything) is
sent to us.  The names are cleaned to ensure that there is nothing sensitive or
personally identifiable in them.  All connections to the Chutney server are
made using industry-standard SSL &ndash; the same technology that your banking
site uses to ensure the privacy of your data.
</p>

{% endblock %}
